		<div class="widget first">
			<div class="headline no-margin">
				<h4>申请列表</h4>
			</div>
			#foreach ($file in $fileListB)
			<div>
				<i class="mini-ico-file"></i> <a href="$!{viewUtil.contextPath}/$!{file.url}">申请书</a>
				<div class="post-meta">
					<span><i class="mini-ico-pencil"></i>$!{file.name}</span>
					<span><i class="mini-ico-user"></i>$!{file.phone}</span>
					<span><i class="mini-ico-envelope"></i>$!{file.mail}</span>
					<span><i class="mini-ico-calendar"></i>$!{viewUtil.fTime("$!{file.applyTime}")}</span>
				</div>
			</div>
			#end
		</div>
		<div class="nine columns" style="float:right;">
        	#if($pageCountB>1)
           	<ul class="pagination">
        		#if($pageIndexB<=5)
        			#set($base = 1)
        			#if($pageCountB<=10)
        				#set($high = $pageCountB)
        			#else
        				#set($high = 10)
        			#end
        		#else
    				<a href="$!{viewUtil.getContextPath()}$!{url}?pnB=1"><li>首页</li></a>
        			#set($base = $pageIndexB - 4)
        			#if($pageCountB > $pageIndexB + 5)
        				#set($high = $pageIndexB + 5)
        			#else
        				#set($high = $pageCountB)
        			#end
        		#end
        		#foreach($i in [$base..$high])
        			#if($pageIndexB!=$i)<a href="$!{viewUtil.getContextPath()}$!{url}?pnB=$i">#end
        				<li #if($pageIndexB==$i)class="current"#end>$i</li>
        			#if($pageIndexB!=$i)</a>#end
        		#end
        		#if($pageIndexB<$pageCountB)
        			#set($next = $pageIndexB + 1)
           		<a href="$!{viewUtil.getContextPath()}$!{url}?pnB=$!{next}"><li>下一页></li></a>
           		<a href="$!{viewUtil.getContextPath()}$!{url}?pnB=$!{pageCountB}"><li>尾页</li></a>
        		#end
           	</ul>
    		#end
    		<div style="padding-top: 20px;">共 ${pageCountB} 页 ${fileCountB} 条</div>
		</div>